# Question 1

In [122]:
for i in range(2000,3201):
    if i%7 == 0 and i%5 != 0:
        if i == 3199:
            print(i, end = '.')
        else:
            print(i, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199.

# Question 2

In [3]:
first_name = input("Enter First Name:")
last_name = input("Enter Last Name:")
print(last_name,first_name)

Enter First Name:firstname
Enter Last Name:lastname
lastname firstname

# Question 3

In [163]:
di = 12

vol = (4/3) * 3.14 * (di/2) ** 3

print(vol)

904.3199999999999

# Question 4

In [398]:
seq_no = input("Enter Only Comma Separated numbers :")

Enter Comma Separated numbers :1,2,3,4,5

In [400]:
p=0
final_list = []

#Validation for Correct input
for i in range(0,len(seq_no),2):
    if seq_no[i].isdigit() == False:
        p=1
    if i != len(seq_no)-1 and seq_no[i+1] != ",":
        p=1
        
if p == 1:
    print("Entered Input is not as per specified format. Please enter Comma separated numbers only")
else:
    for i in range(0,len(seq_no),2):
        final_list.append(seq_no[i])
    
final_list

['1', '2', '3', '4', '5']

# Question 5

In [401]:
for i in range(0,6):
    for j in range(0,i):
        print("*",end = " ")
    print("\n")
for i in range(4,0,-1):
    for j in range(0,i):
        print("*",end = " ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

# Question 6

In [481]:
word = input("Enter a word to reverse : ")

Enter a word to reverse : asdlkjfhasdfihfdaish

In [482]:
x=0

#Validation for Correct input
for i in range(0,len(word)):
    if word[i].isdigit() == True:
        x=1

In [483]:
if x == 1:
    print("Enter only word")
else:
    print("Reverse word is :",word[::-1])

Reverse word is : hsiadfhifdsahfjkldsa